.dart_tool/
build/
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
coverage/
android/
ios/
web/
linux/
macos/
windows/
android/
time_capsule.iml
time_capsule_android.iml
